.pdf-container {
    background-color: #fff; /* Set white background */
    margin-top: 20px; /* Adjust the margin as needed */
    padding: 20px; /* Add padding */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    max-width: 800px; /* Limit container width */
    width: 90%; /* Set width to fill most of the screen */
    overflow: auto; /* Add overflow auto to enable scrolling if content exceeds container */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .pdf-container {
        width: 100%; /* Set width to fill the entire screen on smaller devices */
    }
}
